body
{
    background-color: black;
}

button {
    display: inline-block;
    width: 470px;
    height: 160px;
    font-size: 130px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkred;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

/*button
{
    width: 470px;
    height: 160px;
    font-size: 130px;
    border-color: black;
    background-color: darkred;
} */

button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




